@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background1: #a41a1a;
    --background2: #fff;
    
    --primary1: #1a73e8;
    --primary2: #1a73e8;
    
    --secondary1: #fff;
    --secondary2: #fff;
    
}

*::selection {
    background-color: #9040AB;
    color: #fff;
}

*::-moz-selection {
    background-color: #9040AB;
    color: #fff;
}