body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #303138;
    
    
    
  }
  
  header {
    
    color: #efeeee;
    padding-left: 300px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    
    
    
  }
  
  .header-right {
    padding: 100px;
    display: inline-block;
  padding: 30px 7px;
  color: #f3eeee; /* Text color (adjust as needed) */
  text-decoration: none;
  position: relative;

  }
  .header-right::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #4CAF50; /* Highlight color (adjust as needed) */
    transition: width 0.3s;
  }
  .header-right:hover::after {
    width: 100%;
  }
  .headleft {
    margin-right: 1200px;
    background-color: #635147;
  }

  
  .leftnav {
    float: left;
    position: fixed;
    
    
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
   
    
  }
  
  li {
    display: block;
    padding-right: 10px;

  }
  
  a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Add color transition */
    margin-bottom: 25px;
    padding-right: 150px;
   
    
  }
  
  a:hover {
    background-color: #efeeee;
    color: black; /* Change text color on hover */
    border-radius: 10px;
  }
  
  .mid_nav{
    padding: 10px;
    padding-left: 300px;
    margin: 10px;
    background-color: transparent;
    display: inline-block; 
  }
  .mid_nav ul{
    padding-bottom: 0px;
  }
  .mid_nav li{
    display: inline-block;
    font-size: 17px;
  }
  .all{
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .in_progress{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
  }
  .Finished{
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 50px;
  }
  .grid-container {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
    margin-left: 310px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    margin-top: 0;
   
    


  }
 
  .grid-item{
    background-color: #2a2b30;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 60px;
    padding-right: 265px;
    display: flex;
    flex-direction: column;
    border: #4c4c4d 2px solid;
    box-shadow: #2d2d2d 0px 3px 20px;
    width: 100px;
    color: rgb(180, 175, 175);
    text-align: justify;

    
    

  }
  .grid-item img {
    width: 100px; 
    height: auto; 
   
    
  }
  .grid-item p{
    padding-left: 10px;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    max-height: 300px; 
    width: 325px;
    height: 100px;        
  }
  .grid-item h2{
    width: 300px;
    color: white;
  }
  .grid-item h4{
    max-height: 0;
    color: #aaa;
  }
  .my_stuff{
    color: #efeeee;
    padding-left: 10px;
  }
  progress{
    width: 225px;
    
  }

 
  .all::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background-color: rgb(76, 165, 175); 
    transition: width 0.3s;
  }
  .all:hover::after {
    width: 100%;
  }
  .in_progress::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background-color: rgb(76, 165, 175);
    transition: width 0.3s;
  }
  .in_progress:hover::after {
    width: 100%;
  }
  .Finished::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background-color: rgb(76, 165, 175); 
    transition: width 0.3s;
  }
  .Finished:hover::after {
    width: 100%;
  }