@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



body {
    background-color: #303138;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}


  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;

    padding: 20px;

  }