body{
    background-color: #303138;
    background-size: 100%;
    background-position: center -290px;
    animation: moveUp 1.5s ease;
    overflow-y: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
}

input:focus {
    outline: none;
}



/* Reset default checkbox styles */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
}

/* Define the custom checkbox style */
input[type="checkbox"]::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #3498db; /* Change the border color as needed */
    /*
    background-color: white;
    */
    transition: border-color 0.3s ease;
}

/* Style for checked state */
input[type="checkbox"]:checked::before {
    background-color: #3498db; /* Change the background color for the checked state */
    border-color: #3498db;
}

/* Hover effect */
input[type="checkbox"]:hover::before, input[type="checkbox"]:focus::before {
    border-color: #2980b9; /* Change the border color for hover effect */
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1em;
    color: #ccc;
    
}

.input-field {
    position: relative;
    margin-bottom: 10px;
    margin-top: 40px;
    width: fit-content;
    height: fit-content;
    cursor: text;
    color: #00ffcc;   
    padding: 0;
}


.input-field input[type="text"], .input-field input[type="password"]{
    background-color: transparent;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.input-field input {
    display: block;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.input-field input:empty ~ label{
    position: absolute;
    top: -12px;
    left: -7px;
    font-size: 1rem;
    color: #ccc;
    transition: all 0.3s ease-in-out;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label{
    position: absolute;
    top: -30px;
    left: -7px;
    font-size: 1rem;
    color: #28e975;
    
    
}

.input-field input:empty ~ .underline:before{
    content: "";
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.remember-me{
    display: inline;
}

.input-field input:focus ~ .underline:before,
.input-field input:valid ~ .underline:before{
    background-color: #28e975;
    transform: scaleX(1);
}
.login-box{
    border-radius: 5px;
    padding: 20px;
    color: aliceblue;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    /*
    animation: slideTopToMiddle 1.5s ease;
    */
    width: 500px;
}

.submit{
    background-color: #6158B2;
    border-radius: 5px;
    border: none;
    padding: 10px 10%;
    color: #ccc;
    box-shadow: #221f3f 2px 2px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1em;
    text-align: center;
}
.submit:hover, .submit:focus{
    background-color: #6c62c6;
    color: #221f3f;
    box-shadow: #6c62c6 0 0 15px;
}

label{
    padding: 10px;    
    color: #ccc;

}
a {
    color: #00ffcc;
    text-decoration: none;
}
  
.forgot{
    padding-bottom: 30px;
}


@keyframes moveUp {
    from {
        background-position: center -190px;
    }
    to {
        background-position: center -290px;
    }
}
@keyframes slideTopToMiddle {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.img-box{
    margin-right: 350px;
    margin-left: 150px;
}