body{
    margin: 65px;
    margin-left: 60%;
    background-color: rgb(82, 130, 114);
    background-image: url('img/background.jpg');
    background-size: 100%;
    background-position: center -290px;
    animation: moveUp 1.5s ease;
}
@keyframes moveUp {
    from {
      background-position: center -190px;
    }
    to {
      background-position: center -290px;
    }
  }
  @keyframes slideTopToMiddle {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

input:focus {
    outline: none;
}
h1{
    font-size: 55px;
}
h2{
    color: #ccc;
    
}
.button{
    margin-left:100px ;
}

.input-field {
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 200px;
    height: fit-content;
    cursor: text;
    color: #00ffcc;
    margin-left: 30%;

    
}
.input-field input {
    display: block;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.input-field input:empty ~ label{
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 1rem;
    color: black;
    transition: all 0.3s ease-in-out;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label{
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 0.75rem;
    color: #28e975;
    
    
}

#password,#username{
    background-color: #397082;
    padding: 5px;
    
}
.input-field input:empty ~ .underline:before{
    content: "";
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    
}
.remember-me{
    display: inline;
}

.input-field input:focus ~ .underline:before,
.input-field input:valid ~ .underline:before{
    background-color: #28e975;
    transform: scaleX(1);
}
.login-box{
    border: #000000 solid 5px;
    border-radius: 5px;
    padding: 20px;
    background-color: #21363d;
    color: aliceblue;
    text-align: center;
    box-shadow: #21363d 5px 5px 5px ;
    animation: slideTopToMiddle 1.5s ease;

}

.submit{
    background-color: aquamarine;
    padding-inline: 120px;
    border-radius: 20px;
    padding-block: 10px;
    box-shadow: #21363d 5px 5px 5px;
}

label{
    padding: 10px;
    color: aliceblue;
}
p a {
    color: #00ffcc;
    text-decoration: none;
  }
  .separator {
    position: relative; 
    text-align: center; 
    margin: 20px 0; 
  } 
  .separator hr {
    border: none; 
    border-top: 1px solid #ccc; 
    margin: 0; 
  }
  .separator p {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    background-color: #21363d; 
    padding: 0 10px; 
    transform: translate(-50%, -50%);
    margin: 0;
  }
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(251, 251, 251);
    padding-inline: 85px;
    border-radius: 10px;
    padding-block: 10px;
}

.google-button img {
    width: 20px; /* Adjust the size of the Google logo */
    margin-right: 10px; /* Add some space between the logo and text */
}
.github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(14, 15, 15);
    padding-inline: 85px;
    border-radius: 10px;
    padding-block: 10px;

}

.github-button img {
    width: 20px; /* Adjust the size of the Google logo */
    margin-right: 10px; /* Add some space between the logo and text */
}